<ul>
    <li><a class="active" href="#home"><img src="\assets\images\logo.jpg" alt="Ceypetco"></a></li>
    <!-- <li><a href="#news">News</a></li> -->
    <h1 id="title">Ceylon Petroleum Coporation</h1>
    <li style="float:right" id="abt"><a href="#about">About</a></li>
</ul>

<div class="direct">
    <p class="rut"><a routerLink="/dashboard"> Dashboard </a> ⥂ <a routerLink="/orderlog"> Order Log</a></p>
</div>



<div class="bottom">
    <p class="bhead">Copyright © Ceylon Petroleum Coporation PLC. All rights reserved.</p>
    <p class="bsub">Solution by A S Ravishara</p>
</div>
